# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# Environment variables
.env

# Django settings
proedu/settings.py
